name: CI-CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Deploy to EC2
      uses: appleboy/ssh-action@master
      with:
       host: 13.233.154.8 
        username: ubuntu
        key: ${{ secrets.EC2_KEY }}
        script: |
          docker stop app || true
          docker rm app || true
          docker build -t app .
          docker run -d -p 80:5000 --name app app
